
* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #E1F3F3;
  margin: 0px 200px;
}

/* .mainClass{
  background-color:hotpink;
} */
.experience{
  display: flex;
  margin: 20px 10px;
}

.title {
  min-width: 250px;
  border-right: 2px solid black;
}
.footer {
  background-color:aqua;
  display: flex;
  justify-content: center; 
}
.footer h3{
  margin: 10px;
}